<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    {% load static %}
    <script src="{% static 'user_auth/js/login_page.js' %}" defer></script>
</head>
<body>
    <h1>Регистрация</h1>
    <form id="register-form">
        <input type="text" id="register-phone" name="phone_number" placeholder="Номер телефона" required>
        <input type="email" id="register-email" name="email" placeholder="Email" required>
        <input type="password" id="register-password" name="password" placeholder="Пароль" required>
        <button type="submit">Зарегистрироваться</button>
    </form>

    <div id="error-message"></div>
</body>
</html>
