# Игнорируем настройки Django
/config/settings.py

# Игнорируем файлы окружения
.env

# Игнорируем папку виртуального окружения
.venv/

# Игнорируем файл базы данных SQLite
db.sqlite3

# Игнорируем другие файлы и папки
__pycache__/
*.pyc
*.pyo
*.db
